# This is the starting code of BDA assignment 1 
### All the hints are not mandatory instructions, you can complete the assignment in your own way

<p>________________________________________________________________________________________________________________________</p>

## Question 1 - Make the response of the second question in homework_0 more general
### This time, you can use ANY package !

<pre>
Use your experience of homework_0 to make a class with methods that is more flexible in answering similar questions.
The implementions we want to make are follows.</pre>
<ul>
    <li><pre>Top N movies in the aspect of rating in the period of yeari to yearj</pre></li>
    <li><pre>Top N to top M actors of their accumulated or average revenue</pre></li>
    <li><pre>The average rating of a specific actor's(e.g. Emma Watson) movies</pre></li>
    <li><pre>Top N to top M directors in the number of actors they collaborated</pre></li>
    <li><pre>Top N to top M acotrs in the number of genres they had played</pre></li>  
    <li><pre>Top N to top M actors of their maximum gap of years</pre></li>
    <li><pre>Find all actors who collaborate with a specific actor(e.g. Johnny Deep) in direct and indirect ways</pre></li>  
</ul>

<pre>

the result should be like...</pre>

![Img](https://i.imgur.com/Ydg8w3i.png)

### Hint 1 : Import all the packages you need

In [1]:
import pandas as pd

### Hint 2 : Read the dataset

In [2]:
df = pd.read_csv('IMDB-Movie-Data.csv')
df.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0

### Hint 3 : Make a class to complete implementations below.

In [14]:
# You can name your class, functions, methods... whatever you like.

class This_is_the_example_class:
    def __init__(self, data):
        self.df = data
        # ...there must be more things to be done...
        
    def example_method(self):
        print('...under construction')

In [15]:
example = This_is_the_example_class(df)

example.df.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0

In [16]:
example.example_method()

...under construction

##

## Question 2

<pre>
This is the data of all 30 ubike stations in Daan District(大安區), 
recorded by hours, during the period between  6/7/2015 to 10/8/2015.

The descriptions of some features are as follow.
(Some of the features are strightforward and easy to understand, so their explanations will be skipped)
</pre>
<ul>
    <li><pre>time     : The time this data was recorded, including year/date/hour/minute</pre></li>
    <li><pre>id       : The id of each station. Since there are 30 stations, there will be 30 distinctive ids.</pre></li>
    <li><pre>station  : The namd of a specific station</pre></li>
    <li><pre>location : The district where the station belones to. (All of them are in Daan District) </pre></li>
    <li><pre>status   : status =1 means the station is functional. =0 means it's shutdown a that time.</pre></li>
    <li><pre>lot      : The number of total parking slot of the station.</pre></li>
    <li><pre>bike     : The number of bikes available at the station at that time.</pre></li>
    <li><pre>empty    : The number of empty parking slot of the station at that time.</pre></li>
    <li><pre>temp     : The temperature at that station at that time. (in kelvin)</pre></li>
    <li><pre>pressure : The air pressure at that station at that time.</pre></li>
    <li><pre>wind     : The wind speed at that station at that time. (meters/second)</pre></li>
</ul>

<pre>

Don't worry, you don't have to deal with all of the features in this problem. Our goal is to observe some 
changes of a specific station, which are listed below.
</pre>
<ol>
    <li><pre>the number of average bikes available</pre></li>
    <li><pre>the number of average capacity</pre></li>
    <li><pre>the rate of bikes available of a specific station to the capacity of bikes of all stations</pre></li>
</ol>
<pre>
We will collect and calculate all three features of a given station by each hour segment of a day, 
then plot them together in a figure. (Your plots do not need to be exactly the same as the example.)
</pre>

![Imgur](https://i.imgur.com/eB1mGdD.png)

<pre>

Furthermore, please use the "@interact_manual" interactive control to enable us to switch from one station to another,
and our program will calculate and plot the data instantly. 
The output should look like this:
</pre>

![Url](https://i.imgur.com/gMbscmQ.gif)

<pre>
<b>Let's get this coding started !</b>
</pre>

### Hint 1 : Import the library you need and the data

##### This dataset cannot be readed normaly without ' encoding = "ISO-8859-1" ', I'll help saving your time on this part.

In [3]:
import pandas as pd    # pandas of course

# open the file
df = pd.read_csv("ubike.csv", encoding = "ISO-8859-1")

# hint 1.1 : check out the first few row of the dataset?

### Hint 2 : Stuffs you need to do before plotting

In [ ]:
# deal with the dataset
# hint 2.1 : google for "time python"
# drop the features that are irrelevant to the question, then add some new feature if necessary

### Hint 3 : Make a manual interact function block

In [ ]:
# create your main function, it could starting with

# @interact_manual
# def compare_2(...parameters...):
#    operation_1
#    operation_2
#    ...

##

## Question 3

### Dread it, run from it, destiny arrives all the same...