# This is the starting code of BDA assignment 1 
### All the hints are not mandatory instructions, you can complete the assignment in your own way

<p>________________________________________________________________________________________________________________________</p>

## Question 1 - Make the response of the second question in homework_0 more general
### This time, you can use ANY package !

<pre>
The implementions we want to make are follows.
<ul>
　<li>Top N movies in the aspect of rating in the period of year(i) to year(j) </li>
　<li>Top N to top M actors of their accumulated or average revenue</li>
  <li>The average rating of a specific actor's(e.g. Emma Watson) movies</li>
  <li>Top N to top M directors in the number of actors they collaborated</li>
  <li>Top N to top M acotrs in the number of genres they had played</li>  
  <li>Top N to top M actors of their maximum gap of years</li>
  <li>Find all actors who collaborate with a specific actor(e.g. Johnny Deep) in direct and indirect ways</li>
</ul>
</pre>

### Hint 1 : Import all the packages you need

In [1]:
import pandas as pd

### Hint 2 : Read the dataset

In [2]:
df = pd.read_csv('IMDB-Movie-Data.csv')
df.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0

### Hint 3 : Make a class to complete implementations below.

In [5]:
# You can name your class, functions, methods... whatever you like.

class This_is_the_example_class:
    def __init__(self, data):
        self.df = data
        # ...there must be more things to be done...
        
    def example_method(self):
        print('This is just a example.')

In [6]:
example = This_is_the_example_class(df)

example.df.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,55,The Dark Knight,Action|Crime|Drama,Christopher Nolan,Christian Bale| Heath Ledger| Aaron Eckhart|Mi...,2008,152,9.0,1791916,533.32,82.0
1,81,Inception,Action|Adventure|Sci-Fi,Christopher Nolan,Leonardo DiCaprio| Joseph Gordon-Levitt| Ellen...,2010,148,8.8,1583625,292.57,74.0
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
3,37,Interstellar,Adventure|Drama|Sci-Fi,Christopher Nolan,Matthew McConaughey| Anne Hathaway| Jessica Ch...,2014,169,8.6,1047747,187.99,74.0
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0

In [7]:
example.example_method()

This is just a example.

##### the result should be like...

![Img](https://i.imgur.com/Ydg8w3i.png)

##

## Question 2

### Hint 1 : Import the library you need and the data

##### This dataset cannot be readed normaly without ' encoding = "ISO-8859-1" ', I'll help saving your time on this part.

In [3]:
import pandas as pd    # pandas of course

# open the file
df = pd.read_csv("ubike.csv", encoding = "ISO-8859-1")

# hint 1.1 : maybe you could check out the first few row of the dataset

### Hint 2 : Stuffs you need to do before plotting

In [ ]:
# deal with the dataset
# hint 2.1 : google for "time python"

### Hint 3 : Make a manual interact function block

In [ ]:
# create your main function, it could starting with

# @interact_manual
# def compare_2(...you should put something in here...):
#    abced
#    efghi 
#    ...

##### the output should be like...

![Url](https://i.imgur.com/gMbscmQ.gif)

### Dread it, run from it, destiny arrives all the same...